<%= form_with(model: artist, local: true) do |form| %>
  <% if artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :artist_name, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :genre_id %>
    <%= form.collection_select :genre_id, Genre.all, :id, :name, {prompt: 'Choose a genre'}, {class: 'form-control'} %>
  </div>

  <div class="actions form-group">
    <%= form.submit class: "btn btn-info btn-sm btn-info" %>
  </div>
<% end %>
